{
  "openapi": "3.1.0",
  "info": {
    "title": "Furnace Client API",
    "version": "1.4.3",
    "description": "Account-scoped REST API for campaigns, leads, people, saved lists, inbox, mailboxes, mailbox tags, stats, and block list.\n\nHuman-readable guides and API reference: **https://api.getfurnace.io/docs**"
  },
  "servers": [
    {
      "url": "https://api.getfurnace.io"
    }
  ],
  "tags": [
    {
      "name": "Campaigns",
      "description": "Read and mutate campaigns that belong to the authenticated account."
    },
    {
      "name": "Flow",
      "description": "Read, validate, and update campaign flow graphs."
    },
    {
      "name": "Leads",
      "description": "Manage campaign leads, including single-row upserts and bulk imports."
    },
    {
      "name": "Lead fields",
      "description": "Inspect and extend required lead-field mappings derived from the campaign flow."
    },
    {
      "name": "Jobs",
      "description": "Create and poll asynchronous bulk jobs (import, add/remove, pause/resume)."
    },
    {
      "name": "People",
      "description": "Account-scoped people explorer and profile updates."
    },
    {
      "name": "Lead lists",
      "description": "Saved lead lists and list membership."
    },
    {
      "name": "Mailboxes",
      "description": "Read account mailboxes, manage mailbox tags, and keep secret password fields out of responses."
    },
    {
      "name": "Inbox",
      "description": "List and triage inbox threads, read messages, send replies and forwards, manage message jobs, out-of-office state, lead replacement, and thread tags."
    },
    {
      "name": "Block list",
      "description": "List, add, and remove blocked email or domain values."
    },
    {
      "name": "Stats",
      "description": "Read daily and aggregate campaign performance statistics."
    },
    {
      "name": "Meta",
      "description": "Service metadata endpoints."
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "API Key",
        "description": "Use an account API key in the Authorization header: `Authorization: Bearer f_...`."
      }
    },
    "headers": {
      "XRateLimitLimit": {
        "description": "Maximum requests allowed in the current minute window. Furnace currently allows 200 requests per account per minute.",
        "schema": {
          "type": "string",
          "example": "200"
        }
      },
      "XRateLimitRemaining": {
        "description": "Remaining requests in the current minute window.",
        "schema": {
          "type": "string",
          "example": "199"
        }
      },
      "XRateLimitReset": {
        "description": "Unix epoch seconds when the current rate-limit window resets.",
        "schema": {
          "type": "string",
          "example": "1716316860"
        }
      }
    },
    "parameters": {
      "CampaignId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "Campaign id.",
        "schema": {
          "type": "string",
          "format": "uuid"
        }
      },
      "LeadId": {
        "name": "leadId",
        "in": "path",
        "required": true,
        "description": "Lead id.",
        "schema": {
          "type": "string",
          "format": "uuid"
        }
      },
      "FlowNodeId": {
        "name": "nodeId",
        "in": "path",
        "required": true,
        "description": "Flow node id.",
        "schema": {
          "type": "string"
        }
      },
      "JobId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "Async import job id.",
        "schema": {
          "type": "string",
          "format": "uuid"
        }
      },
      "MailboxId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "Mailbox id.",
        "schema": {
          "type": "string",
          "format": "uuid"
        }
      },
      "ThreadId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "Inbox thread id.",
        "schema": {
          "type": "string",
          "format": "uuid"
        }
      },
      "BlockListId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "Block-list entry id.",
        "schema": {
          "type": "string",
          "format": "uuid"
        }
      },
      "Limit": {
        "name": "limit",
        "in": "query",
        "description": "Number of rows to return. Defaults to 20; maximum 100.",
        "schema": {
          "type": "integer",
          "minimum": 0,
          "default": 20,
          "maximum": 100
        }
      },
      "Offset": {
        "name": "offset",
        "in": "query",
        "description": "Zero-based offset for pagination.",
        "schema": {
          "type": "integer",
          "minimum": 0,
          "default": 0
        }
      },
      "Search": {
        "name": "q",
        "in": "query",
        "description": "Case-insensitive search term.",
        "schema": {
          "type": "string"
        }
      },
      "CampaignStatus": {
        "name": "status",
        "in": "query",
        "description": "Campaign status filter.",
        "schema": {
          "type": "string",
          "enum": [
            "draft",
            "running",
            "paused",
            "stopped"
          ]
        }
      },
      "CampaignTagIds": {
        "name": "tag_ids",
        "in": "query",
        "description": "Comma-separated campaign tag ids. Returns campaigns that have any of the listed tags.",
        "schema": {
          "type": "string",
          "example": "uuid-1,uuid-2"
        }
      },
      "CampaignTagId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "Campaign tag id.",
        "schema": {
          "type": "string",
          "format": "uuid"
        }
      },
      "MailboxTagIds": {
        "name": "tag_ids",
        "in": "query",
        "description": "Comma-separated mailbox tag ids. Returns mailboxes that have any of the listed tags.",
        "schema": {
          "type": "string",
          "example": "uuid-1,uuid-2"
        }
      },
      "MailboxTagId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "Mailbox tag id.",
        "schema": {
          "type": "string",
          "format": "uuid"
        }
      },
      "GlobalLeadId": {
        "name": "globalLeadId",
        "in": "path",
        "required": true,
        "description": "Stable account-scoped person id (SHA-256 of normalized email).",
        "schema": {
          "type": "string"
        }
      },
      "LeadListId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "Saved lead list id.",
        "schema": {
          "type": "string",
          "format": "uuid"
        }
      },
      "PeopleSearch": {
        "name": "q",
        "in": "query",
        "description": "Search people by email or name.",
        "schema": {
          "type": "string"
        }
      },
      "PeopleSort": {
        "name": "sort",
        "in": "query",
        "description": "Sort column for the people explorer.",
        "schema": {
          "type": "string",
          "default": "latest_activity"
        }
      },
      "PeopleSortDirection": {
        "name": "sort_dir",
        "in": "query",
        "description": "Sort direction.",
        "schema": {
          "type": "string",
          "enum": [
            "asc",
            "desc"
          ],
          "default": "desc"
        }
      },
      "GlobalLeadIdsQuery": {
        "name": "global_lead_ids",
        "in": "query",
        "description": "Comma-separated global lead ids filter.",
        "schema": {
          "type": "string"
        }
      },
      "CampaignIdsQuery": {
        "name": "campaign_ids",
        "in": "query",
        "description": "Comma-separated campaign ids filter.",
        "schema": {
          "type": "string"
        }
      },
      "IncludeDeletedCampaigns": {
        "name": "include_deleted",
        "in": "query",
        "description": "When true, includes campaigns with `deleted_at` set.",
        "schema": {
          "type": "boolean",
          "default": false
        }
      },
      "CampaignFilter": {
        "name": "campaign_id",
        "in": "query",
        "description": "Filter inbox threads to a single campaign.",
        "schema": {
          "type": "string",
          "format": "uuid"
        }
      },
      "MailboxFilter": {
        "name": "mailbox_id",
        "in": "query",
        "description": "Filter inbox threads to a single mailbox.",
        "schema": {
          "type": "string",
          "format": "uuid"
        }
      },
      "MessageJobId": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "Outbound inbox message job id returned by reply or forward endpoints.",
        "schema": {
          "type": "string",
          "format": "uuid"
        }
      },
      "UnreadOnly": {
        "name": "unread_only",
        "in": "query",
        "description": "When true, returns only threads with unread received messages.",
        "schema": {
          "type": "boolean",
          "default": false
        }
      },
      "ConversationStatusFilter": {
        "name": "conversation_status",
        "in": "query",
        "description": "Filter threads by conversation status.",
        "schema": {
          "type": "string",
          "enum": [
            "open",
            "closed"
          ]
        }
      },
      "ThreadCategoryFilter": {
        "name": "category",
        "in": "query",
        "description": "Filter threads by category. Use `no_category` for uncategorized threads.",
        "schema": {
          "type": "string",
          "enum": [
            "Interested",
            "Neutral",
            "Not Interested",
            "Auto Reply",
            "no_category"
          ]
        }
      },
      "ThreadTagIdsFilter": {
        "name": "tag_ids",
        "in": "query",
        "description": "Comma-separated thread tag ids. Returns threads tagged with any listed tag.",
        "schema": {
          "type": "string",
          "example": "uuid-1,uuid-2"
        }
      },
      "DateFrom": {
        "name": "date_from",
        "in": "query",
        "description": "Inclusive ISO-8601 timestamp filter on `last_message_at`.",
        "schema": {
          "type": "string",
          "format": "date-time"
        }
      },
      "DateTo": {
        "name": "date_to",
        "in": "query",
        "description": "Inclusive ISO-8601 timestamp filter on `last_message_at`.",
        "schema": {
          "type": "string",
          "format": "date-time"
        }
      },
      "HasReplyOnly": {
        "name": "has_reply_only",
        "in": "query",
        "description": "When true (default), returns only threads with at least one inbound reply.",
        "schema": {
          "type": "boolean",
          "default": true
        }
      },
      "StartDate": {
        "name": "start_date",
        "in": "query",
        "description": "Inclusive start date in `YYYY-MM-DD` format.",
        "schema": {
          "type": "string",
          "format": "date"
        }
      },
      "EndDate": {
        "name": "end_date",
        "in": "query",
        "description": "Inclusive end date in `YYYY-MM-DD` format.",
        "schema": {
          "type": "string",
          "format": "date"
        }
      },
      "IdempotencyKey": {
        "name": "Idempotency-Key",
        "in": "header",
        "description": "Optional idempotency key for create and bulk lead imports.",
        "schema": {
          "type": "string"
        }
      }
    },
    "responses": {
      "UnauthorizedError": {
        "description": "Missing, invalid, revoked, or expired API key.",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/XRateLimitLimit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/XRateLimitRemaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/XRateLimitReset"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "error": {
                "type": "authentication_error",
                "code": "invalid_api_key",
                "message": "A valid Furnace API key is required"
              }
            }
          }
        }
      },
      "ForbiddenError": {
        "description": "The authenticated account may read the resource but cannot perform this action.",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/XRateLimitLimit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/XRateLimitRemaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/XRateLimitReset"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "error": {
                "type": "permission_error",
                "code": "smartlead_read_only",
                "message": "Smartlead campaigns are read-only via the API"
              }
            }
          }
        }
      },
      "NotFoundError": {
        "description": "The requested resource does not exist in the API key account scope.",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/XRateLimitLimit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/XRateLimitRemaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/XRateLimitReset"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "error": {
                "type": "invalid_request_error",
                "code": "campaign_not_found",
                "message": "Campaign not found"
              }
            }
          }
        }
      },
      "RateLimitError": {
        "description": "The account exceeded the current rate limit window.",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/XRateLimitLimit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/XRateLimitRemaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/XRateLimitReset"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "error": {
                "type": "rate_limit_error",
                "code": "rate_limit_exceeded",
                "message": "Rate limit exceeded for this account"
              }
            }
          }
        }
      },
      "ValidationError": {
        "description": "The request body or parameters failed validation.",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/XRateLimitLimit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/XRateLimitRemaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/XRateLimitReset"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "error": {
                "type": "invalid_request_error",
                "code": "invalid_flow",
                "message": "Flow validation failed"
              },
              "details": [
                {
                  "path": "nodes[1].data.variants[0].id",
                  "code": "invalid_variant_id",
                  "message": "Email variants must have a stable UUID id."
                }
              ]
            }
          }
        }
      },
      "InternalError": {
        "description": "Unexpected server-side error.",
        "headers": {
          "X-RateLimit-Limit": {
            "$ref": "#/components/headers/XRateLimitLimit"
          },
          "X-RateLimit-Remaining": {
            "$ref": "#/components/headers/XRateLimitRemaining"
          },
          "X-RateLimit-Reset": {
            "$ref": "#/components/headers/XRateLimitReset"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "error": {
                "type": "api_error",
                "code": "internal_error",
                "message": "Internal server error"
              }
            }
          }
        }
      }
    },
    "schemas": {
      "ApiError": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "invalid_request_error",
              "authentication_error",
              "permission_error",
              "rate_limit_error",
              "api_error"
            ]
          },
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "param": {
            "type": "string"
          }
        },
        "required": [
          "type",
          "code",
          "message"
        ]
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "invalid_request_error",
                  "authentication_error",
                  "permission_error",
                  "rate_limit_error",
                  "api_error"
                ]
              },
              "code": {
                "type": "string"
              },
              "message": {
                "type": "string"
              },
              "param": {
                "type": "string"
              }
            },
            "required": [
              "type",
              "code",
              "message"
            ]
          },
          "details": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FlowValidationIssue"
            }
          }
        },
        "required": [
          "error"
        ]
      },
      "HealthResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "ok",
              "error"
            ]
          },
          "db": {
            "type": "string",
            "enum": [
              "ok",
              "error"
            ]
          }
        },
        "required": [
          "status",
          "db"
        ]
      },
      "DeleteResult": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "deleted": {
            "type": "boolean"
          }
        },
        "required": [
          "id",
          "deleted"
        ]
      },
      "CampaignTag": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "color": {
            "type": "string",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "name",
          "created_at"
        ]
      },
      "CampaignTagCreate": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "color": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "name"
        ],
        "additionalProperties": false
      },
      "CampaignTagUpdate": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "color": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "CampaignTagResponse": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/CampaignTag"
          }
        },
        "required": [
          "data"
        ]
      },
      "CampaignTagListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CampaignTag"
            }
          }
        },
        "required": [
          "data"
        ]
      },
      "Campaign": {
        "type": "object",
        "description": "Campaign row as returned by the Furnace backend.",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "account_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "bucket_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "string",
            "enum": [
              "draft",
              "running",
              "paused",
              "stopped"
            ]
          },
          "source": {
            "type": "string",
            "description": "Campaign source. `smartlead` campaigns can be read but not mutated through this API.",
            "examples": [
              "manual"
            ]
          },
          "flow_data": {
            "$ref": "#/components/schemas/CampaignFlow"
          },
          "schedule": {
            "type": "object",
            "additionalProperties": true,
            "nullable": true
          },
          "sending_interval_seconds": {
            "type": "number",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "deleted_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "tags": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CampaignTag"
            },
            "description": "Campaign tags assigned to this campaign."
          }
        },
        "required": [
          "id",
          "status",
          "created_at"
        ],
        "additionalProperties": true
      },
      "CampaignFlow": {
        "type": "object",
        "description": "Directed acyclic graph (DAG) defining the campaign sequence. Consumed by flow save, validate, and optional `flow` on campaign create.\n\n**Structure:**\n\n- [FlowNode](/docs/reference/schemas/FlowNode/) — one step per node; `data` shape depends on `type`\n- [FlowEdge](/docs/reference/schemas/FlowEdge/) — directed connections between nodes\n\n**Node types:**\n\n- `leadSource` — [LeadSourceNodeData](/docs/reference/schemas/LeadSourceNodeData/) (exactly one per flow)\n- `email` — [EmailNodeData](/docs/reference/schemas/EmailNodeData/) with [EmailVariant](/docs/reference/schemas/EmailVariant/) variants\n- `waitTime` — [WaitTimeNodeData](/docs/reference/schemas/WaitTimeNodeData/)\n- `aiCategorizer` — [AICategorizerNodeData](/docs/reference/schemas/AICategorizerNodeData/) (at most one per flow)\n- `dataSender` — [DataSenderNodeData](/docs/reference/schemas/DataSenderNodeData/)\n\n**Validation rules:** exactly one `leadSource`; at most one `aiCategorizer`; max 100 nodes / 200 edges; no cycles; every node reachable from `leadSource`; unique node and edge ids.\n\nFull normalization, merge-variable rules, and error codes: [Flow schemas guide](/docs/guides/flow-schemas/).",
        "properties": {
          "nodes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FlowNode"
            }
          },
          "edges": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FlowEdge"
            }
          }
        },
        "required": [
          "nodes",
          "edges"
        ],
        "additionalProperties": false,
        "example": {
          "nodes": [
            {
              "id": "leadSource-1",
              "type": "leadSource",
              "position": {
                "x": 0,
                "y": 0
              },
              "data": {
                "label": "Lead Bucket",
                "customFieldKeys": [
                  "company"
                ],
                "mappedStandardFieldKeys": [
                  "email",
                  "first_name",
                  "last_name"
                ],
                "isRequired": true
              },
              "deletable": false
            },
            {
              "id": "email-1",
              "type": "email",
              "position": {
                "x": 220,
                "y": 0
              },
              "data": {
                "label": "Intro Email",
                "send_mode": "new",
                "variants": [
                  {
                    "id": "11111111-1111-4111-8111-111111111111",
                    "label": "A",
                    "subject": "Quick question for {{first_name}}",
                    "template": "Hi {{first_name}} - reaching out about {{custom.company}}.",
                    "isActive": true,
                    "order": 0
                  },
                  {
                    "id": "11111111-1111-4111-8111-111111111112",
                    "label": "B",
                    "subject": "Following up for {{first_name}}",
                    "template": "Hi {{first_name}} - wanted to share a quick idea for {{custom.company}}.",
                    "isActive": true,
                    "order": 1
                  }
                ]
              }
            },
            {
              "id": "waitTime-1",
              "type": "waitTime",
              "position": {
                "x": 460,
                "y": 0
              },
              "data": {
                "label": "Wait 1 day",
                "duration": "1",
                "unit": "days",
                "wait_duration_seconds": 86400
              }
            },
            {
              "id": "email-2",
              "type": "email",
              "position": {
                "x": 700,
                "y": 0
              },
              "data": {
                "label": "Follow-up",
                "send_mode": "new",
                "variants": [
                  {
                    "id": "22222222-2222-4222-8222-222222222221",
                    "label": "A",
                    "subject": "Bumping this for {{first_name}}",
                    "template": "Hi {{first_name}} - circling back in case this is relevant for {{custom.company}}.",
                    "isActive": true,
                    "order": 0
                  },
                  {
                    "id": "22222222-2222-4222-8222-222222222222",
                    "label": "B",
                    "subject": "Any thoughts, {{first_name}}?",
                    "template": "Hi {{first_name}} - should I close the loop or send more detail?",
                    "isActive": true,
                    "order": 1
                  }
                ]
              }
            }
          ],
          "edges": [
            {
              "id": "e1",
              "source": "leadSource-1",
              "target": "email-1"
            },
            {
              "id": "e2",
              "source": "email-1",
              "target": "waitTime-1"
            },
            {
              "id": "e3",
              "source": "waitTime-1",
              "target": "email-2"
            }
          ]
        },
        "examples": {
          "linear": {
            "summary": "Email → wait → email",
            "value": {
              "nodes": [
                {
                  "id": "leadSource-1",
                  "type": "leadSource",
                  "position": {
                    "x": 0,
                    "y": 0
                  },
                  "data": {
                    "label": "Lead Bucket",
                    "customFieldKeys": [
                      "company"
                    ],
                    "mappedStandardFieldKeys": [
                      "email",
                      "first_name",
                      "last_name"
                    ],
                    "isRequired": true
                  },
                  "deletable": false
                },
                {
                  "id": "email-1",
                  "type": "email",
                  "position": {
                    "x": 220,
                    "y": 0
                  },
                  "data": {
                    "label": "Intro Email",
                    "send_mode": "new",
                    "variants": [
                      {
                        "id": "11111111-1111-4111-8111-111111111111",
                        "label": "A",
                        "subject": "Quick question for {{first_name}}",
                        "template": "Hi {{first_name}} - reaching out about {{custom.company}}.",
                        "isActive": true,
                        "order": 0
                      },
                      {
                        "id": "11111111-1111-4111-8111-111111111112",
                        "label": "B",
                        "subject": "Following up for {{first_name}}",
                        "template": "Hi {{first_name}} - wanted to share a quick idea for {{custom.company}}.",
                        "isActive": true,
                        "order": 1
                      }
                    ]
                  }
                },
                {
                  "id": "waitTime-1",
                  "type": "waitTime",
                  "position": {
                    "x": 460,
                    "y": 0
                  },
                  "data": {
                    "label": "Wait 1 day",
                    "duration": "1",
                    "unit": "days",
                    "wait_duration_seconds": 86400
                  }
                },
                {
                  "id": "email-2",
                  "type": "email",
                  "position": {
                    "x": 700,
                    "y": 0
                  },
                  "data": {
                    "label": "Follow-up",
                    "send_mode": "new",
                    "variants": [
                      {
                        "id": "22222222-2222-4222-8222-222222222221",
                        "label": "A",
                        "subject": "Bumping this for {{first_name}}",
                        "template": "Hi {{first_name}} - circling back in case this is relevant for {{custom.company}}.",
                        "isActive": true,
                        "order": 0
                      },
                      {
                        "id": "22222222-2222-4222-8222-222222222222",
                        "label": "B",
                        "subject": "Any thoughts, {{first_name}}?",
                        "template": "Hi {{first_name}} - should I close the loop or send more detail?",
                        "isActive": true,
                        "order": 1
                      }
                    ]
                  }
                }
              ],
              "edges": [
                {
                  "id": "e1",
                  "source": "leadSource-1",
                  "target": "email-1"
                },
                {
                  "id": "e2",
                  "source": "email-1",
                  "target": "waitTime-1"
                },
                {
                  "id": "e3",
                  "source": "waitTime-1",
                  "target": "email-2"
                }
              ]
            }
          },
          "categorizer": {
            "summary": "Categorizer branch",
            "value": {
              "nodes": [
                {
                  "id": "leadSource-1",
                  "type": "leadSource",
                  "position": {
                    "x": 0,
                    "y": 0
                  },
                  "data": {
                    "label": "Lead Bucket",
                    "customFieldKeys": [
                      "company"
                    ],
                    "mappedStandardFieldKeys": [
                      "email",
                      "first_name",
                      "last_name"
                    ],
                    "isRequired": true
                  },
                  "deletable": false
                },
                {
                  "id": "email-1",
                  "type": "email",
                  "position": {
                    "x": 220,
                    "y": 0
                  },
                  "data": {
                    "label": "Intro Email",
                    "send_mode": "new",
                    "variants": [
                      {
                        "id": "11111111-1111-4111-8111-111111111111",
                        "label": "A",
                        "subject": "Quick question for {{first_name}}",
                        "template": "Hi {{first_name}} - reaching out about {{custom.company}}.",
                        "isActive": true,
                        "order": 0
                      },
                      {
                        "id": "11111111-1111-4111-8111-111111111112",
                        "label": "B",
                        "subject": "Following up for {{first_name}}",
                        "template": "Hi {{first_name}} - wanted to share a quick idea for {{custom.company}}.",
                        "isActive": true,
                        "order": 1
                      }
                    ]
                  }
                },
                {
                  "id": "waitTime-1",
                  "type": "waitTime",
                  "position": {
                    "x": 460,
                    "y": 0
                  },
                  "data": {
                    "label": "Wait 1 day",
                    "duration": "1",
                    "unit": "days",
                    "wait_duration_seconds": 86400
                  }
                },
                {
                  "id": "email-2",
                  "type": "email",
                  "position": {
                    "x": 700,
                    "y": 0
                  },
                  "data": {
                    "label": "Reply Trigger",
                    "send_mode": "new",
                    "variants": [
                      {
                        "id": "22222222-2222-4222-8222-222222222221",
                        "label": "A",
                        "subject": "Checking back in, {{first_name}}",
                        "template": "Hi {{first_name}} - just checking whether this is relevant for {{custom.company}}.",
                        "isActive": true,
                        "order": 0
                      }
                    ]
                  }
                },
                {
                  "id": "aiCategorizer-1",
                  "type": "aiCategorizer",
                  "position": {
                    "x": 940,
                    "y": 0
                  },
                  "data": {
                    "label": "Categorizer",
                    "use_ai": true
                  }
                },
                {
                  "id": "email-3",
                  "type": "email",
                  "position": {
                    "x": 1180,
                    "y": -120
                  },
                  "data": {
                    "label": "Interested Reply",
                    "send_mode": "reply",
                    "variants": [
                      {
                        "id": "33333333-3333-4333-8333-333333333333",
                        "label": "A",
                        "subject": "",
                        "template": "Thanks {{first_name}} - here are the details you asked for.",
                        "isActive": true,
                        "order": 0
                      }
                    ]
                  }
                },
                {
                  "id": "email-4",
                  "type": "email",
                  "position": {
                    "x": 1180,
                    "y": 120
                  },
                  "data": {
                    "label": "Breakup",
                    "send_mode": "new",
                    "variants": [
                      {
                        "id": "44444444-4444-4444-8444-444444444444",
                        "label": "A",
                        "subject": "Closing the loop, {{first_name}}",
                        "template": "No worries {{first_name}} - I’ll close the loop on my side.",
                        "isActive": true,
                        "order": 0
                      }
                    ]
                  }
                }
              ],
              "edges": [
                {
                  "id": "e1",
                  "source": "leadSource-1",
                  "target": "email-1"
                },
                {
                  "id": "e2",
                  "source": "email-1",
                  "target": "waitTime-1"
                },
                {
                  "id": "e3",
                  "source": "waitTime-1",
                  "target": "email-2"
                },
                {
                  "id": "e4",
                  "source": "email-2",
                  "target": "aiCategorizer-1"
                },
                {
                  "id": "e5",
                  "source": "aiCategorizer-1",
                  "sourceHandle": "interested",
                  "target": "email-3"
                },
                {
                  "id": "e6",
                  "source": "aiCategorizer-1",
                  "sourceHandle": "not-interested",
                  "target": "email-4"
                }
              ]
            }
          },
          "dataSender": {
            "summary": "Data sender webhook",
            "value": {
              "nodes": [
                {
                  "id": "leadSource-1",
                  "type": "leadSource",
                  "position": {
                    "x": 0,
                    "y": 0
                  },
                  "data": {
                    "label": "Lead Bucket",
                    "customFieldKeys": [
                      "company"
                    ],
                    "mappedStandardFieldKeys": [
                      "email",
                      "first_name",
                      "last_name"
                    ],
                    "isRequired": true
                  },
                  "deletable": false
                },
                {
                  "id": "email-1",
                  "type": "email",
                  "position": {
                    "x": 220,
                    "y": 0
                  },
                  "data": {
                    "label": "Intro Email",
                    "send_mode": "new",
                    "variants": [
                      {
                        "id": "11111111-1111-4111-8111-111111111111",
                        "label": "A",
                        "subject": "Quick question for {{first_name}}",
                        "template": "Hi {{first_name}} - reaching out about {{custom.company}}.",
                        "isActive": true,
                        "order": 0
                      },
                      {
                        "id": "11111111-1111-4111-8111-111111111112",
                        "label": "B",
                        "subject": "Following up for {{first_name}}",
                        "template": "Hi {{first_name}} - wanted to share a quick idea for {{custom.company}}.",
                        "isActive": true,
                        "order": 1
                      }
                    ]
                  }
                },
                {
                  "id": "dataSender-1",
                  "type": "dataSender",
                  "position": {
                    "x": 460,
                    "y": 0
                  },
                  "data": {
                    "label": "Notify CRM",
                    "endpoint_url": "https://hooks.example.com/lead-contacted",
                    "payload": "{\n  \"email\": \"{{email}}\",\n  \"company\": \"{{custom.company}}\",\n  \"campaign_node\": \"email-1\"\n}",
                    "on_failure": "continue"
                  }
                }
              ],
              "edges": [
                {
                  "id": "e1",
                  "source": "leadSource-1",
                  "target": "email-1"
                },
                {
                  "id": "e2",
                  "source": "email-1",
                  "target": "dataSender-1"
                }
              ]
            }
          }
        }
      },
      "FlowPosition": {
        "type": "object",
        "description": "Builder canvas coordinates. Cosmetic; safe to change on live campaigns.",
        "properties": {
          "x": {
            "type": "number",
            "description": "Horizontal position in the flow editor.",
            "example": 220
          },
          "y": {
            "type": "number",
            "description": "Vertical position in the flow editor.",
            "example": 0
          }
        },
        "required": [
          "x",
          "y"
        ],
        "additionalProperties": false
      },
      "EmailVariant": {
        "type": "object",
        "description": "One A/B variant of an email node. Variant ids must be stable UUIDs. Supports merge variables in `subject`, `template`, and `body_html`.\n\nSee [Flow schemas](/docs/guides/flow-schemas/).",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Stable variant UUID. Generate once before first save.",
            "example": "11111111-1111-4111-8111-111111111111"
          },
          "label": {
            "type": "string",
            "description": "Display label (A, B, …). Re-derived on save.",
            "example": "A"
          },
          "subject": {
            "type": "string",
            "description": "Email subject. Supports merge variables like {{first_name}}.",
            "example": "Quick question for {{first_name}}"
          },
          "template": {
            "type": "string",
            "description": "Primary email body (plain or rich text). Supports merge variables.",
            "example": "Hi {{first_name}} - reaching out about {{custom.company}}."
          },
          "body_html": {
            "type": "string",
            "nullable": true,
            "description": "HTML body when editor_mode is html."
          },
          "body_text": {
            "type": "string",
            "nullable": true,
            "description": "Plain-text fallback body."
          },
          "editor_mode": {
            "type": "string",
            "enum": [
              "richText",
              "html"
            ],
            "nullable": true,
            "description": "Editor mode. Canonicalized on save.",
            "example": "richText"
          },
          "isActive": {
            "type": "boolean",
            "description": "When false, variant is skipped in round-robin. At least one variant per email node must be active.",
            "example": true
          },
          "order": {
            "type": "integer",
            "description": "Round-robin sort order. Re-derived on save.",
            "example": 0
          }
        },
        "required": [
          "id",
          "label",
          "subject",
          "template",
          "isActive",
          "order"
        ],
        "additionalProperties": false
      },
      "FlowNode": {
        "type": "object",
        "description": "One node in the campaign flow graph. The data shape depends on type — see [LeadSourceNodeData](/docs/reference/schemas/LeadSourceNodeData/), [EmailNodeData](/docs/reference/schemas/EmailNodeData/), [WaitTimeNodeData](/docs/reference/schemas/WaitTimeNodeData/), [AICategorizerNodeData](/docs/reference/schemas/AICategorizerNodeData/), and [DataSenderNodeData](/docs/reference/schemas/DataSenderNodeData/).",
        "properties": {
          "id": {
            "type": "string",
            "description": "Stable flow node id referenced by edges and runtime node sync. Keep stable across edits.",
            "example": "email-1"
          },
          "type": {
            "type": "string",
            "enum": [
              "leadSource",
              "email",
              "waitTime",
              "aiCategorizer",
              "dataSender"
            ],
            "description": "Node kind. Exactly one leadSource per flow; at most one aiCategorizer.",
            "example": "email"
          },
          "position": {
            "$ref": "#/components/schemas/FlowPosition"
          },
          "data": {
            "description": "Type-specific node configuration.",
            "oneOf": [
              {
                "$ref": "#/components/schemas/LeadSourceNodeData"
              },
              {
                "$ref": "#/components/schemas/EmailNodeData"
              },
              {
                "$ref": "#/components/schemas/WaitTimeNodeData"
              },
              {
                "$ref": "#/components/schemas/AICategorizerNodeData"
              },
              {
                "$ref": "#/components/schemas/DataSenderNodeData"
              }
            ]
          },
          "deletable": {
            "type": "boolean",
            "nullable": true,
            "description": "When false, node cannot be deleted in the builder. Lead source is always non-deletable.",
            "example": true
          }
        },
        "required": [
          "id",
          "type",
          "position",
          "data"
        ],
        "additionalProperties": true
      },
      "FlowEdge": {
        "type": "object",
        "description": "Directed connection between two nodes. Categorizer outgoing edges must set sourceHandle to interested, neutral, or not-interested.",
        "properties": {
          "id": {
            "type": "string",
            "description": "Stable edge identifier.",
            "example": "e1"
          },
          "source": {
            "type": "string",
            "description": "Source node id.",
            "example": "leadSource-1"
          },
          "target": {
            "type": "string",
            "description": "Target node id.",
            "example": "email-1"
          },
          "sourceHandle": {
            "type": "string",
            "nullable": true,
            "description": "Required on aiCategorizer branch edges: interested, neutral, or not-interested.",
            "example": "interested"
          },
          "targetHandle": {
            "type": "string",
            "nullable": true,
            "description": "Reserved for future use."
          },
          "type": {
            "type": "string",
            "nullable": true,
            "description": "Builder edge type. Stripped on save when set to deletable."
          }
        },
        "required": [
          "id",
          "source",
          "target"
        ],
        "additionalProperties": true
      },
      "LeadSourceNodeData": {
        "type": "object",
        "description": "Configuration for the single required `leadSource` node. Declares merge variables and custom lead fields.\n\nAllowed standard keys for mappedStandardFieldKeys: `email`, `name`, `first_name`, `last_name`, `company_name`, `website`, `linkedin_url`, `company_linkedin_url`, `source`.\n\nDetails: [Flow schemas](/docs/guides/flow-schemas/).",
        "properties": {
          "label": {
            "type": "string",
            "description": "Display label.",
            "example": "Lead Bucket"
          },
          "source": {
            "type": "string",
            "nullable": true,
            "description": "Legacy source label."
          },
          "bucketId": {
            "type": "string",
            "nullable": true,
            "description": "Optional lead bucket reference."
          },
          "customFieldKeys": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Custom personalization keys. Enables {{custom.<key>}} merge tokens and requires matching keys in lead custom_lead_data on import.",
            "example": [
              "company",
              "title"
            ]
          },
          "mappedStandardFieldKeys": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Standard lead fields available as merge variables. When omitted, all standard fields are allowed.",
            "example": [
              "email",
              "first_name",
              "last_name"
            ]
          },
          "isRequired": {
            "type": "boolean",
            "nullable": true,
            "description": "When true, leads missing required custom fields count as incomplete on import.",
            "example": true
          }
        },
        "additionalProperties": true
      },
      "EmailNodeData": {
        "type": "object",
        "description": "Outbound email node with one or more A/B variants.\n\n`send_mode`: `new` for sequence emails; `reply` for in-thread follow-ups after categorizer. See [EmailVariant](/docs/reference/schemas/EmailVariant/).",
        "properties": {
          "label": {
            "type": "string",
            "description": "Display label.",
            "example": "Intro Email"
          },
          "mailboxId": {
            "type": "string",
            "format": "uuid",
            "nullable": true,
            "description": "Sending mailbox. Falls back to campaign mailbox rotation when unset."
          },
          "send_mode": {
            "type": "string",
            "enum": [
              "new",
              "reply"
            ],
            "nullable": true,
            "description": "new for sequence emails; reply for in-thread follow-ups after categorizer.",
            "example": "new"
          },
          "variants": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EmailVariant"
            },
            "description": "1–20 variants. At least one must be active.",
            "minItems": 1,
            "maxItems": 20
          }
        },
        "required": [
          "variants"
        ],
        "additionalProperties": true
      },
      "WaitTimeNodeData": {
        "type": "object",
        "description": "Delay node. `wait_duration_seconds` is the runtime source of truth; `duration` and `unit` are display fields derived on save.",
        "properties": {
          "label": {
            "type": "string",
            "description": "Display label.",
            "example": "Wait 1 day"
          },
          "duration": {
            "type": "string",
            "nullable": true,
            "description": "Display duration value. Furnace derives this from wait_duration_seconds on save.",
            "example": "1"
          },
          "unit": {
            "type": "string",
            "enum": [
              "minutes",
              "hours",
              "days"
            ],
            "nullable": true,
            "description": "Display unit. Furnace derives this from wait_duration_seconds on save.",
            "example": "days"
          },
          "wait_duration_seconds": {
            "type": "integer",
            "description": "Positive delay in seconds. Required for runtime scheduling.",
            "example": 86400
          }
        },
        "required": [
          "wait_duration_seconds"
        ],
        "additionalProperties": true
      },
      "AICategorizerNodeData": {
        "type": "object",
        "description": "Reply classifier node. At most one per flow. Outgoing edges must use sourceHandle interested, neutral, or not-interested.",
        "properties": {
          "label": {
            "type": "string",
            "description": "Display label.",
            "example": "Categorizer"
          },
          "use_ai": {
            "type": "boolean",
            "description": "When true, uses AI to classify replies.",
            "example": true
          }
        },
        "additionalProperties": true
      },
      "DataSenderNodeData": {
        "type": "object",
        "description": "Webhook node that POSTs lead data to an external URL when a lead reaches this step. Supports merge variables in `payload`. See [CampaignFlow](/docs/reference/schemas/CampaignFlow/) examples for a full dataSender flow.",
        "properties": {
          "label": {
            "type": "string",
            "description": "Display label.",
            "example": "Notify CRM"
          },
          "endpoint": {
            "type": "string",
            "nullable": true,
            "description": "Alias for endpoint_url."
          },
          "endpoint_url": {
            "type": "string",
            "format": "uri",
            "nullable": true,
            "description": "HTTPS webhook URL.",
            "example": "https://hooks.example.com/lead-contacted"
          },
          "payload": {
            "type": "string",
            "nullable": true,
            "description": "JSON string body. Supports merge variables.",
            "example": "{\"email\":\"{{email}}\",\"company\":\"{{custom.company}}\"}"
          },
          "payload_template": {
            "type": "object",
            "additionalProperties": true,
            "description": "Object form of payload. Serialized to payload on save when payload string is empty."
          },
          "on_failure": {
            "type": "string",
            "enum": [
              "continue",
              "stop"
            ],
            "nullable": true,
            "description": "Whether enrollment continues after a failed POST.",
            "example": "continue"
          }
        },
        "additionalProperties": true
      },
      "CampaignCreate": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "schedule": {
            "type": "object",
            "additionalProperties": true
          },
          "sending_interval_seconds": {
            "type": "number"
          },
          "mailbox_ids": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            }
          },
          "tag_ids": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            }
          },
          "flow": {
            "$ref": "#/components/schemas/CampaignFlow"
          }
        },
        "additionalProperties": false
      },
      "FlowUpdate": {
        "description": "Canonical campaign flow payload for `POST /v1/campaigns/{id}/flow`, `PUT .../flow` (deprecated), and `POST .../flow:validate`.\n\nSame shape as [CampaignFlow](/docs/reference/schemas/CampaignFlow/). See [Campaign flow](/docs/guides/campaign-flow/) and [Flow schemas](/docs/guides/flow-schemas/).",
        "allOf": [
          {
            "$ref": "#/components/schemas/CampaignFlow"
          }
        ],
        "example": {
          "nodes": [
            {
              "id": "leadSource-1",
              "type": "leadSource",
              "position": {
                "x": 0,
                "y": 0
              },
              "data": {
                "label": "Lead Bucket",
                "customFieldKeys": [
                  "company"
                ],
                "mappedStandardFieldKeys": [
                  "email",
                  "first_name",
                  "last_name"
                ],
                "isRequired": true
              },
              "deletable": false
            },
            {
              "id": "email-1",
              "type": "email",
              "position": {
                "x": 220,
                "y": 0
              },
              "data": {
                "label": "Intro Email",
                "send_mode": "new",
                "variants": [
                  {
                    "id": "11111111-1111-4111-8111-111111111111",
                    "label": "A",
                    "subject": "Quick question for {{first_name}}",
                    "template": "Hi {{first_name}} - reaching out about {{custom.company}}.",
                    "isActive": true,
                    "order": 0
                  },
                  {
                    "id": "11111111-1111-4111-8111-111111111112",
                    "label": "B",
                    "subject": "Following up for {{first_name}}",
                    "template": "Hi {{first_name}} - wanted to share a quick idea for {{custom.company}}.",
                    "isActive": true,
                    "order": 1
                  }
                ]
              }
            },
            {
              "id": "waitTime-1",
              "type": "waitTime",
              "position": {
                "x": 460,
                "y": 0
              },
              "data": {
                "label": "Wait 1 day",
                "duration": "1",
                "unit": "days",
                "wait_duration_seconds": 86400
              }
            },
            {
              "id": "email-2",
              "type": "email",
              "position": {
                "x": 700,
                "y": 0
              },
              "data": {
                "label": "Reply Trigger",
                "send_mode": "new",
                "variants": [
                  {
                    "id": "22222222-2222-4222-8222-222222222221",
                    "label": "A",
                    "subject": "Checking back in, {{first_name}}",
                    "template": "Hi {{first_name}} - just checking whether this is relevant for {{custom.company}}.",
                    "isActive": true,
                    "order": 0
                  }
                ]
              }
            },
            {
              "id": "aiCategorizer-1",
              "type": "aiCategorizer",
              "position": {
                "x": 940,
                "y": 0
              },
              "data": {
                "label": "Categorizer",
                "use_ai": true
              }
            },
            {
              "id": "email-3",
              "type": "email",
              "position": {
                "x": 1180,
                "y": -120
              },
              "data": {
                "label": "Interested Reply",
                "send_mode": "reply",
                "variants": [
                  {
                    "id": "33333333-3333-4333-8333-333333333333",
                    "label": "A",
                    "subject": "",
                    "template": "Thanks {{first_name}} - here are the details you asked for.",
                    "isActive": true,
                    "order": 0
                  }
                ]
              }
            },
            {
              "id": "email-4",
              "type": "email",
              "position": {
                "x": 1180,
                "y": 120
              },
              "data": {
                "label": "Breakup",
                "send_mode": "new",
                "variants": [
                  {
                    "id": "44444444-4444-4444-8444-444444444444",
                    "label": "A",
                    "subject": "Closing the loop, {{first_name}}",
                    "template": "No worries {{first_name}} - I’ll close the loop on my side.",
                    "isActive": true,
                    "order": 0
                  }
                ]
              }
            }
          ],
          "edges": [
            {
              "id": "e1",
              "source": "leadSource-1",
              "target": "email-1"
            },
            {
              "id": "e2",
              "source": "email-1",
              "target": "waitTime-1"
            },
            {
              "id": "e3",
              "source": "waitTime-1",
              "target": "email-2"
            },
            {
              "id": "e4",
              "source": "email-2",
              "target": "aiCategorizer-1"
            },
            {
              "id": "e5",
              "source": "aiCategorizer-1",
              "sourceHandle": "interested",
              "target": "email-3"
            },
            {
              "id": "e6",
              "source": "aiCategorizer-1",
              "sourceHandle": "not-interested",
              "target": "email-4"
            }
          ]
        }
      },
      "FlowValidationIssue": {
        "type": "object",
        "description": "One validation problem in `issues[]` from flow validate/save, or in `details[]` on `400 invalid_flow` errors.\n\nSee [Flow schemas](/docs/guides/flow-schemas/) for the full error-code catalog.",
        "properties": {
          "path": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        },
        "required": [
          "path",
          "code",
          "message"
        ],
        "additionalProperties": false
      },
      "FlowValidateResult": {
        "type": "object",
        "description": "Dry-run result from `POST /v1/campaigns/{id}/flow:validate`. Shows normalized flow, validation issues, change classification, and lifecycle gate outcome.\n\nSee [FlowValidationIssue](/docs/reference/schemas/FlowValidationIssue/) and [Flow schemas](/docs/guides/flow-schemas/).",
        "properties": {
          "normalized_flow": {
            "$ref": "#/components/schemas/CampaignFlow"
          },
          "allowed": {
            "type": "boolean",
            "description": "Whether the campaign status permits this change (false when structural edit on live campaign).",
            "example": true
          },
          "change_kind": {
            "type": "string",
            "enum": [
              "none",
              "content",
              "structural"
            ],
            "description": "Classification of the diff against the stored flow.",
            "example": "content"
          },
          "change_reasons": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Machine-readable change reasons: node_added, node_removed, node_type_changed, edge_added_or_rewired, edge_removed_or_rewired, variant_removed_or_replaced, content_changed.",
            "example": [
              "content_changed"
            ]
          },
          "lifecycle": {
            "type": "object",
            "description": "Lifecycle gate result. When blocked, code is flow_locked.",
            "properties": {
              "allowed": {
                "type": "boolean",
                "example": true
              },
              "code": {
                "type": "string",
                "nullable": true,
                "example": "flow_locked"
              },
              "message": {
                "type": "string",
                "nullable": true
              }
            },
            "required": [
              "allowed"
            ],
            "additionalProperties": false
          },
          "issues": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FlowValidationIssue"
            },
            "description": "Validation problems. Empty when the flow is valid."
          }
        },
        "required": [
          "normalized_flow",
          "allowed",
          "change_kind",
          "change_reasons",
          "lifecycle",
          "issues"
        ],
        "additionalProperties": false
      },
      "LaunchResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "status": {
            "type": "string",
            "enum": [
              "running"
            ]
          },
          "enrolled": {
            "type": "integer",
            "description": "Number of leads enrolled at launch."
          }
        },
        "required": [
          "id",
          "status"
        ],
        "additionalProperties": false
      },
      "CampaignStatusUpdate": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "running",
              "paused",
              "stopped"
            ]
          }
        },
        "required": [
          "status"
        ],
        "additionalProperties": false
      },
      "FieldSync": {
        "type": "object",
        "properties": {
          "declared_custom_added": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "declared_standard_added": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "declared_custom_added",
          "declared_standard_added"
        ],
        "additionalProperties": false
      },
      "FlowSaveResult": {
        "type": "object",
        "properties": {
          "flow": {
            "$ref": "#/components/schemas/CampaignFlow"
          },
          "flow_revision": {
            "type": "string",
            "description": "SHA-256 of canonical normalized flow."
          },
          "field_sync": {
            "$ref": "#/components/schemas/FieldSync"
          },
          "change_kind": {
            "type": "string",
            "enum": [
              "none",
              "content",
              "structural"
            ]
          },
          "change_reasons": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "reactivated_count": {
            "type": "integer",
            "description": "Completed enrollments reactivated at former leaf nodes after an append save."
          }
        },
        "required": [
          "flow",
          "flow_revision",
          "field_sync",
          "reactivated_count"
        ],
        "additionalProperties": false
      },
      "FlowNodePatch": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "additionalProperties": true
          }
        },
        "required": [
          "data"
        ],
        "additionalProperties": false
      },
      "CampaignUpdate": {
        "type": "object",
        "description": "Mutable campaign fields. Mailbox ids can replace the full set or be incrementally added and removed.",
        "properties": {
          "name": {
            "type": "string"
          },
          "schedule": {
            "type": "object",
            "additionalProperties": true
          },
          "sending_interval_seconds": {
            "type": "number"
          },
          "mailbox_ids": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            }
          },
          "add_mailbox_ids": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            }
          },
          "remove_mailbox_ids": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            }
          },
          "tag_ids": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Replace all tag assignments on the campaign."
          },
          "add_tag_ids": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            }
          },
          "remove_tag_ids": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            }
          }
        },
        "additionalProperties": false
      },
      "CampaignStatusResult": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "status": {
            "type": "string",
            "enum": [
              "paused",
              "stopped",
              "running"
            ]
          }
        },
        "required": [
          "id",
          "status"
        ]
      },
      "LeadFields": {
        "type": "object",
        "properties": {
          "standard": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "custom": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "standard",
          "custom"
        ]
      },
      "LeadFieldCreate": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string"
          }
        },
        "required": [
          "key"
        ]
      },
      "LeadFieldResult": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string"
          }
        },
        "required": [
          "key"
        ]
      },
      "Lead": {
        "type": "object",
        "description": "Lead row scoped to a campaign.",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "campaign_id": {
            "type": "string",
            "format": "uuid"
          },
          "account_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "global_lead_id": {
            "type": "string",
            "description": "Stable account-scoped person id (SHA-256 of normalized email). Used for enrollment pause/resume and bulk membership APIs."
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "first_name": {
            "type": "string",
            "nullable": true
          },
          "last_name": {
            "type": "string",
            "nullable": true
          },
          "company_name": {
            "type": "string",
            "nullable": true
          },
          "website": {
            "type": "string",
            "nullable": true
          },
          "linkedin_url": {
            "type": "string",
            "nullable": true
          },
          "company_linkedin_url": {
            "type": "string",
            "nullable": true
          },
          "phone_number": {
            "type": "string",
            "nullable": true
          },
          "mobile_phone_number": {
            "type": "string",
            "nullable": true
          },
          "custom_lead_data": {
            "type": "object",
            "additionalProperties": true
          },
          "source": {
            "type": "string",
            "examples": [
              "api"
            ]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "deleted_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        },
        "required": [
          "id",
          "campaign_id",
          "email",
          "created_at"
        ],
        "additionalProperties": true
      },
      "LeadCreate": {
        "type": "object",
        "description": "Create or upsert a lead. `email` is required. When the campaign defines custom lead fields, every key must be present in `custom_lead_data`.",
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "name": {
            "type": "string"
          },
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "company_name": {
            "type": "string"
          },
          "website": {
            "type": "string"
          },
          "linkedin_url": {
            "type": "string"
          },
          "company_linkedin_url": {
            "type": "string"
          },
          "phone_number": {
            "type": "string"
          },
          "mobile_phone_number": {
            "type": "string"
          },
          "custom_lead_data": {
            "type": "object",
            "additionalProperties": true
          }
        },
        "required": [
          "email"
        ],
        "additionalProperties": false
      },
      "LeadUpdate": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "first_name": {
            "type": "string",
            "nullable": true
          },
          "last_name": {
            "type": "string",
            "nullable": true
          },
          "company_name": {
            "type": "string",
            "nullable": true
          },
          "website": {
            "type": "string",
            "nullable": true
          },
          "linkedin_url": {
            "type": "string",
            "nullable": true
          },
          "company_linkedin_url": {
            "type": "string",
            "nullable": true
          },
          "phone_number": {
            "type": "string",
            "nullable": true
          },
          "mobile_phone_number": {
            "type": "string",
            "nullable": true
          },
          "custom_lead_data": {
            "type": "object",
            "additionalProperties": true
          }
        },
        "additionalProperties": false
      },
      "LeadUpsertResult": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/Lead"
          },
          "created": {
            "type": "boolean"
          }
        },
        "required": [
          "data",
          "created"
        ]
      },
      "BulkLeadsRequest": {
        "type": "object",
        "properties": {
          "leads": {
            "type": "array",
            "minItems": 1,
            "maxItems": 100,
            "items": {
              "$ref": "#/components/schemas/LeadCreate"
            }
          }
        },
        "required": [
          "leads"
        ]
      },
      "AsyncBulkLeadsRequest": {
        "type": "object",
        "properties": {
          "leads": {
            "type": "array",
            "minItems": 1,
            "maxItems": 1000,
            "items": {
              "$ref": "#/components/schemas/LeadCreate"
            }
          }
        },
        "required": [
          "leads"
        ]
      },
      "BulkLeadsResult": {
        "type": "object",
        "properties": {
          "imported": {
            "type": "integer"
          },
          "incomplete": {
            "type": "integer",
            "description": "Leads imported but missing one or more required custom (personalization) fields."
          },
          "failed": {
            "type": "integer"
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "index": {
                  "type": "integer"
                },
                "message": {
                  "type": "string"
                }
              },
              "required": [
                "index",
                "message"
              ]
            }
          }
        },
        "required": [
          "imported",
          "incomplete",
          "failed",
          "errors"
        ]
      },
      "ImportJob": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "account_id": {
            "type": "string",
            "format": "uuid"
          },
          "campaign_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "created_by_api_key_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "status": {
            "type": "string",
            "enum": [
              "queued",
              "running",
              "completed",
              "failed"
            ]
          },
          "progress": {
            "type": "integer",
            "minimum": 0,
            "maximum": 100
          },
          "cursor": {
            "type": "integer",
            "minimum": 0
          },
          "input": {
            "type": "object",
            "additionalProperties": true,
            "description": "Includes required `operation` and scope fields (`global_lead_ids`, `list_id`, or `leads`)."
          },
          "result": {
            "type": "object",
            "additionalProperties": true
          },
          "errors": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "started_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "completed_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        },
        "required": [
          "id",
          "status",
          "input",
          "result",
          "errors"
        ],
        "additionalProperties": true
      },
      "ImportJobCreate": {
        "type": "object",
        "description": "Create an async bulk job. Poll `GET /v1/jobs/{id}` for completion.",
        "properties": {
          "operation": {
            "type": "string",
            "enum": [
              "api_lead_import",
              "add_to_campaign",
              "remove_from_campaign",
              "remove_from_all_campaigns",
              "pause_enrollments",
              "resume_enrollments"
            ]
          },
          "campaign_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "global_lead_ids": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "list_id": {
            "type": "string",
            "format": "uuid"
          },
          "leads": {
            "type": "array",
            "maxItems": 1000,
            "items": {
              "$ref": "#/components/schemas/LeadCreate"
            }
          }
        },
        "required": [
          "operation"
        ],
        "additionalProperties": false
      },
      "Mailbox": {
        "type": "object",
        "description": "Mailbox row with sensitive IMAP/SMTP passwords removed from the response.",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "account_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "email": {
            "type": "string",
            "format": "email",
            "nullable": true
          },
          "display_name": {
            "type": "string",
            "nullable": true
          },
          "provider": {
            "type": "string",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "tags": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MailboxTag"
            },
            "description": "Mailbox tags assigned to this mailbox."
          }
        },
        "required": [
          "id"
        ],
        "additionalProperties": true
      },
      "MailboxTag": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "color": {
            "type": "string",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "name",
          "created_at"
        ]
      },
      "MailboxTagCreate": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "color": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "name"
        ],
        "additionalProperties": false
      },
      "MailboxTagUpdate": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "color": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "MailboxTagResponse": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/MailboxTag"
          }
        },
        "required": [
          "data"
        ]
      },
      "MailboxTagListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MailboxTag"
            }
          }
        },
        "required": [
          "data"
        ]
      },
      "MailboxUpdate": {
        "type": "object",
        "description": "Mutable mailbox fields currently support tag assignment only.",
        "properties": {
          "tag_ids": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Replace all tag assignments on the mailbox."
          },
          "add_tag_ids": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            }
          },
          "remove_tag_ids": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            }
          }
        },
        "additionalProperties": false
      },
      "Thread": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "account_id": {
            "type": "string",
            "format": "uuid"
          },
          "campaign_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "mailbox_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "subject": {
            "type": "string",
            "nullable": true
          },
          "last_message_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        },
        "required": [
          "id",
          "account_id"
        ],
        "additionalProperties": true
      },
      "Message": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "thread_id": {
            "type": "string",
            "format": "uuid"
          },
          "direction": {
            "type": "string",
            "enum": [
              "sent",
              "received"
            ]
          },
          "subject": {
            "type": "string",
            "nullable": true
          },
          "body_text": {
            "type": "string",
            "nullable": true
          },
          "body_html": {
            "type": "string",
            "nullable": true
          },
          "from_email": {
            "type": "string",
            "format": "email",
            "nullable": true
          },
          "from_name": {
            "type": "string",
            "nullable": true
          },
          "to_email": {
            "type": "string",
            "format": "email",
            "nullable": true
          },
          "received_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        },
        "required": [
          "id",
          "thread_id"
        ],
        "additionalProperties": true
      },
      "ReplyRequest": {
        "type": "object",
        "description": "Create a reply job for a thread message. When omitted, subject and recipient fields fall back to the target message.",
        "properties": {
          "in_reply_to_message_id": {
            "type": "string",
            "format": "uuid",
            "description": "Message to reply to. Defaults to the latest message in the thread."
          },
          "subject": {
            "type": "string"
          },
          "body_text": {
            "type": "string"
          },
          "body_html": {
            "type": "string"
          },
          "to_email": {
            "type": "string",
            "format": "email"
          },
          "to_name": {
            "type": "string"
          },
          "cc": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          }
        },
        "additionalProperties": false
      },
      "ForwardRequest": {
        "type": "object",
        "description": "Create a forward job for a specific message in the thread.",
        "properties": {
          "forward_message_id": {
            "type": "string",
            "format": "uuid"
          },
          "subject": {
            "type": "string"
          },
          "body_text": {
            "type": "string"
          },
          "body_html": {
            "type": "string"
          },
          "to_email": {
            "type": "string",
            "format": "email"
          },
          "to_name": {
            "type": "string"
          },
          "cc": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "email"
            }
          }
        },
        "required": [
          "forward_message_id",
          "to_email"
        ],
        "additionalProperties": false
      },
      "ThreadUpdate": {
        "type": "object",
        "description": "Partial thread update. All fields are optional.",
        "properties": {
          "category": {
            "type": "string",
            "nullable": true,
            "enum": [
              "Interested",
              "Neutral",
              "Not Interested",
              "Auto Reply",
              null
            ]
          },
          "conversation_status": {
            "type": "string",
            "enum": [
              "open",
              "closed"
            ]
          },
          "read": {
            "type": "boolean",
            "description": "When true, marks all received messages in the thread as read."
          }
        },
        "additionalProperties": false
      },
      "MessageJob": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "status": {
            "type": "string"
          },
          "message_type": {
            "type": "string",
            "nullable": true
          },
          "thread_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "error_message": {
            "type": "string",
            "nullable": true
          },
          "scheduled_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "send_wait_reason": {
            "type": "string",
            "nullable": true
          },
          "status_reason": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "id",
          "status"
        ],
        "additionalProperties": false
      },
      "OutOfOfficeUpdate": {
        "type": "object",
        "properties": {
          "resume_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "resume_mode": {
            "type": "string",
            "enum": [
              "scheduled",
              "instant",
              "none"
            ],
            "default": "scheduled"
          }
        },
        "additionalProperties": false
      },
      "OutOfOfficeResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "thread": {
                "$ref": "#/components/schemas/Thread"
              },
              "result": {
                "type": "string"
              }
            },
            "required": [
              "thread",
              "result"
            ]
          }
        },
        "required": [
          "data"
        ]
      },
      "ReplaceLeadRequest": {
        "type": "object",
        "properties": {
          "new_email": {
            "type": "string",
            "format": "email"
          },
          "new_name": {
            "type": "string",
            "nullable": true
          },
          "new_first_name": {
            "type": "string",
            "nullable": true
          },
          "new_last_name": {
            "type": "string",
            "nullable": true
          },
          "new_phone_number": {
            "type": "string",
            "nullable": true
          },
          "reason": {
            "type": "string",
            "nullable": true
          },
          "reason_note": {
            "type": "string",
            "nullable": true
          },
          "source_message_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "forward_message_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          }
        },
        "required": [
          "new_email"
        ],
        "additionalProperties": false
      },
      "ReplaceLeadResult": {
        "type": "object",
        "properties": {
          "replacement_id": {
            "type": "string",
            "format": "uuid"
          },
          "new_lead_id": {
            "type": "string",
            "format": "uuid"
          },
          "enrollment_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "forward_job_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          }
        },
        "required": [
          "replacement_id",
          "new_lead_id"
        ]
      },
      "ThreadTag": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "account_id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "color": {
            "type": "string",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        },
        "required": [
          "id",
          "account_id",
          "name"
        ],
        "additionalProperties": true
      },
      "ThreadTagAssignmentRequest": {
        "type": "object",
        "properties": {
          "tag_id": {
            "type": "string",
            "format": "uuid"
          }
        },
        "required": [
          "tag_id"
        ],
        "additionalProperties": false
      },
      "ThreadTagAssignmentResult": {
        "type": "object",
        "properties": {
          "thread_id": {
            "type": "string",
            "format": "uuid"
          },
          "tag_id": {
            "type": "string",
            "format": "uuid"
          },
          "removed": {
            "type": "boolean"
          }
        },
        "required": [
          "thread_id",
          "tag_id"
        ]
      },
      "ReplyJobResult": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          }
        },
        "required": [
          "id"
        ]
      },
      "BlockListEntry": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "account_id": {
            "type": "string",
            "format": "uuid"
          },
          "value": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "email",
              "domain"
            ]
          },
          "reason": {
            "type": "string",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        },
        "required": [
          "id",
          "account_id",
          "value",
          "type"
        ],
        "additionalProperties": true
      },
      "BlockListCreate": {
        "type": "object",
        "properties": {
          "value": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "email",
              "domain"
            ]
          },
          "reason": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "value",
          "type"
        ],
        "additionalProperties": false
      },
      "CampaignStatsDaily": {
        "type": "object",
        "properties": {
          "date": {
            "type": "string",
            "format": "date"
          },
          "sent": {
            "type": "number"
          },
          "replied": {
            "type": "number"
          },
          "positiveReply": {
            "type": "number"
          },
          "bounce": {
            "type": "number"
          }
        },
        "required": [
          "date",
          "sent",
          "replied",
          "positiveReply",
          "bounce"
        ]
      },
      "CampaignStatsTotals": {
        "type": "object",
        "properties": {
          "sentCount": {
            "type": "number"
          },
          "repliedCount": {
            "type": "number"
          },
          "positiveReplyCount": {
            "type": "number"
          },
          "bounceCount": {
            "type": "number"
          },
          "lastBounceAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "enrollmentCount": {
            "type": "integer"
          },
          "terminalEnrollmentCount": {
            "type": "integer"
          },
          "contactedEnrollmentCount": {
            "type": "integer"
          }
        },
        "required": [
          "sentCount",
          "repliedCount",
          "positiveReplyCount",
          "bounceCount",
          "lastBounceAt",
          "enrollmentCount",
          "terminalEnrollmentCount",
          "contactedEnrollmentCount"
        ]
      },
      "CampaignStats": {
        "type": "object",
        "properties": {
          "daily": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CampaignStatsDaily"
            }
          },
          "totals": {
            "$ref": "#/components/schemas/CampaignStatsTotals"
          }
        },
        "required": [
          "daily",
          "totals"
        ]
      },
      "CampaignListResponse": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Campaign"
            }
          },
          "limit": {
            "type": "integer"
          },
          "offset": {
            "type": "integer"
          },
          "total_count": {
            "type": "integer"
[...]
